<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <img src="/images/hamburger.svg" alt="Logo com desenho de Hambúrguer da DevBurger" id="logoImg">
        <h3>DevBurger</h3>
        <h6></h6><a href="/contato">Contato</a></h6>
    </header>
    <div>
        <h1 class="titulo">Cardápio DevBurger</h1>
        <table id="tableCardapio">
            <tr>
                <th>Hambúrguer</th>
                <th>Ingredientes</th>
            </tr>
        </table>
    </div>

    <h1 class="titulo">Sugira um novo sabor de Hambúrguer Gourmet</h1>
    <form action="/sugestao" method="GET">
        <div>
            <label for="nome">Seu nome:</label>
            <input type="text" name="nome" id="nome" size="40" required>
        </div>
        <div>
            <label for="ingredientes">Ingredientes sugeridos:</label>
            <textarea rows="6" cols="50" name="ingredientes" id="ingredientes" required></textarea>
        </div>
        <button type="submit">Enviar</button>
    </form>
    <footer>
        <p>Todos os direitos reservados à DevBurger</p>
        <p>©2025</p>
    </footer>
</body>
<script>
    document.addEventListener('DOMContentLoaded', async () => {
        const tabela = document.getElementById("tableCardapio");

        try {
            const resposta = await fetch('/api/lanches');
            const lanches = await resposta.json();

            lanches.forEach(lanche => {
                const linha = document.createElement('tr');
                const colNome = document.createElement('td');
                colNome.textContent = lanche.nome;

                const colIngredientes = document.createElement('td');
                colIngredientes.textContent = lanche.ingredientes;

                linha.appendChild(colNome);
                linha.appendChild(colIngredientes);
                tabela.appendChild(linha);
            });
        } catch (erro) {
            console.log("Houve um erro: ", erro);
        }
    })
</script>

</html>